body {
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 40vw;
    height: 30vh;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 80%;
    height: 80%;
    display: flex;
  flex-direction: column;
  gap: 15px; /* Adds 15px space between each form field */
}

.entry {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.entry > span {
    grid-column: 2 / span 2;
    color: black;
    font-size: 1rem;
}

.good {
    background-color: rgb(26, 255, 26);
    border: solid 1px green;
    color: black;
}

.bad {
    background-color: rgb(255, 127, 127);
    border: dotted 1px red;
    color: black;
}