body {
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 40vw;
    height: 30vh;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 80%;
    height: 80%;
}

.entry {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.entry > span {
    grid-column: 2 / span 2;
}